*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: lightblue;
}

.container{
    width: 75%;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
}

.col-25{
    height: 40px;
    width: 25%;
    background-color: orange;
    border: solid black 1px;
    text-align: center;
}
.col-50{
    height: 40px;
    width: 50%;
    background-color: orange;
    border: solid black 1px;
    text-align: center;
}


/* FINE HEADER */

.background-blue{
    background-color: rgb(13, 13, 111);
}

.container-small{
    width: 60%;
    margin: 0 auto;
}

.padding-vertical-20{
    padding: 20px 0;
}

.col-100{
width: 100%;
border: solid 1px black;
height: 350px;
background-color: green;

}


.col-60{
    height: 300px;
    width: 60%;
    background-color: cornflowerblue;
    border: solid 1px black;
}

.col-40{
    height: 300px;
    width: 40%;
    background-color: pink;
    border: solid 1px black;
}

.background-grey{
    background-color: lightgrey;
}

.col-30{
    background-color: pink;
    border: 1px solid black;
    height: 200px;
    width: 30%;
}

.col-70{
    background-color: lightcoral;
    width: 70%;
    height: 200px;
}